@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
  }
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
  }
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
  }
html {
  height: 100%;
  }

*::before,
*::after {
  box-sizing: border-box;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  }
  .logo {
  display: block;
  }
  .search {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  list-style-type: none;
  text-decoration: none;
  border-radius: 50px 0 0 50px;
  border: 2px solid #000;
  background-color: #FFE17F;
  flex-grow: 1;
  min-height: 40px;
  }
  .button-search {
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    list-style-type: none;
    text-decoration: none;
    border-radius: 0 50px 50px 0;
    border: 2px solid #000;
    min-width: 160px;
    background-color: #FFE17F;
    border-left: none;
    padding: 16px;
  }
.navigation-user {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  }
.navigation-service {
  display: flex;
  }
  .navigation-link.link {
    padding-top: 10px;
    }

.navigation-link {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  padding-left: 50px;
  }

.navigation-link-user {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: black;
  text-decoration: none;
  padding-left: 20px;

  }
  .navigation-form {
   display: flex;
   width: 517px;
  }
  .navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    list-style-type: none;
    margin-left: 160px;
  }
.navigation-list-catalog {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style-type: none;
  margin-left: 20px;
  }
  .navigation-list-service {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style-type: none;
  margin-left: 320px;
  margin-top: 10px;
  margin-bottom: 34px;
  }
  .authorization {
  margin-left: 55px;
  align-self: center;
  }

.navigation-item-user {
  padding-left: 25px;
}
.navigation-user.navigation-link {
  min-width: 16px;
  min-height: 22px;
}
.navigation {
  background-image: url("../images/yellow-background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-left: 60px;
  padding-right: 60px;
  }
.container {
  margin: 0 auto;
  width: 1160px;
  }

.slide {
  display: none;
  }
.slide-active {
  display: flex;
  margin: 72px 100px;
  }
.slide-service {
  display: flex;
  margin-left: 123px;
  }
.slide-service-text {
  max-width: 530px;
  }
.slide-service-image {
margin-left: 180px;
  }
.title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  text-transform: none;
  margin-bottom: 0;
  }
.list-products {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  margin: 0 auto;
  list-style-type: none;
  }
.products {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 70px;
  background-color: #ffffff;
  }
  .product-item:nth-last-child(n+2) {
  margin-right: 40px;
  }
  .product-image {
    background-color: #FFE17F;
    margin-bottom: 30px;
  }
.service-inner {
  display: flex;
  }
.service-list {
  list-style-type: none;
  margin-top: 40px;
  padding-left: 0;
  }
.service-item:nth-last-child(n+2) {
  margin-bottom: 35px;
  }
.button {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border-color: transparent;
  }
.button-button {
  background-color: #FFE17F;
  color: #000000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  border-color: transparent;
  }
.button-current {
  background-color: #000000;
  color: #FFE17F;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  }
.table {
  display: flex;
  }
.select {
  display: flex;
  padding: 20px 40px;
  align-items: center;
  background-color: #F0F0F0;
  }
.select-control {
  font-family: Rubik, sans-serif;
  width: 141px;
  height: 30px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  border: none;
  background-color: #F0F0F0;
  }
.catalog-filter-title {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  }
  .button-cards {
  display: block;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  padding: 18px 39px;
  border: 3px solid #E5E5E5;
  }
.select-text {
   margin-right: 260px;
   font-family: Raleway;
   font-size: 16px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
   letter-spacing: 3.2px;
   text-transform: uppercase;
  }
.catalog-container {
  display: flex;
  background-color: #F0F0F0;
}
.main-container {
  flex-grow: 1;
  }
.filter-catalog {
  padding: px;
  }
.product-list {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 40px;
  width: 840px;
  list-style-type: none;
  margin-bottom: 44px;
  padding-top: 70px;
  background-color: rgb(255, 255, 255);
  }
.slider-advantages {
 display: flex;
  }
.delivery-delivery {
  margin: 70px;
  }
.delivery {
  display: flex;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: #F0F0F0;
  }
.delivery-image {
  margin-right: 180px;
  }
  .delivery-text {
  align-self: center;
  }
.appointment {
  display: flex;
  margin: 70px auto;
  }
.pagination-page {
  margin: 0 auto;
  width: 100px;
  list-style-type: none;
  }
.subscribe {
  display: flex;
  flex-wrap: wrap;
  background-color: #F0F0F0;
  }
.subscribe1 {
  display: flex;
  }
.subscribe2 {
  margin: 0 auto;
  width: 1400px;
  display: flex;
  margin-bottom: 56px;
  margin-left: 141px;
  }
.form-subscribe {
  display: flex;
  }
.title-subscribe {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  margin-top: 64px;
  margin-left: 147px;
  margin-right: 40;
  }
.text-subscribe {
  margin-top: 74px;
  width: 560px;
  }
  .subscribe2-text {
  margin: 0;
  margin-left: 370px;
  }
.contact {
  margin-left: 108px;
  }
.item {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  }
.item:nth-last-child(n+2) {
  margin-bottom: 19px;
  }
.page-footer {
  color: #ffffff;
  background-color: #444;
  }
.footer-inner {
  display: grid;
  grid-template-columns: 400px 1fr 400px;
  }
.footer-list-item {
  padding-left: 35px;
  }
.email {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  }
.button-footer {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  }
.search-catalog {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  list-style-type: none;
  text-decoration: none;
  border-radius: 50px 0 0 50px;
  border: 2px solid #000;
  width: 359px;
  height: 40px;
  align-items: center;
  background-color: #FFE17F;
  margin-left: 60px;
}
.authorization-catalog {
  display: flex;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  list-style-type: none;
  margin-left: 40px;
  align-self: center;
}
.div-user-catalog {
  display: flex;
}
.products-catalog {
  list-style-type: none;
  padding-left: 0;
  background-color: #ffffff;
  }

.product-card-link {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  }
.product-card-image {
  grid-column: 1/3;
  }
.product-card-title {
  max-width: 225px;
  margin: 0;
  }
.product-card-price {
  margin: 0;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
.pagination-link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #444;
  text-decoration: none;
  }
.pagination-next {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  color: #000000;
  text-decoration: none;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  font-style: normal;
  padding-left: 120px;
  }
.pagination-disabled {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
  justify-content: start;
  margin-left: 30px;
  letter-spacing: 3.6px;
  }
  .pagination-list {
  display: flex;
  list-style-type: none;
  padding-left: 100px;
  }
.pagination-current {
  color: #000000;
  }
.pagination {
  background-color: #EBEBEB;
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: 44px 20px 80px 44px;
  max-width: 760px;
  }
  .pagination-item {
  width: 40px;
  padding: 10px;
  }
.button-catalog {
  border-color: #E5E5E5;
  background-color: #ffffff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  width: 760px;
  margin-left: 40px;
  }
.catalog-filter {
  width: 320px;
  margin: 0;
  }
.catalog-filter-group {
  border: none;
  padding-left: 0;
  }
.breadcrumbs {
  display: flex;
  list-style-type: none;
  color: #000;
  text-decoration: none;
  margin-left: 0;
  padding-left: 0;
  }
.breadcrumbs-item {
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 1;
  }
.breadcrumbs-link {
  color: #000;
  list-style-type: none;
  padding-right: 32px;
  text-decoration: none;
  }
.contacts-address-text {
  font-style: normal;
}
.contacts-address {
  grid-column: 1/-3;
}
  .logo-footer {
    grid-column: 1/-1;
  }
.footer-contacts-address-phone {
  text-transform: none;
  color: rgb(255, 255, 255);
  grid-column: 3/-1;
  margin-left: 4;
  justify-self: end;
  }
 .footer-list {
  display: flex;
  list-style-type: none;
  grid-column: 2/-2;
  padding: 3;
  justify-self: s;
 }
.social-list {
  grid-column: 2/2;
  list-style-type: none;
  }
.htmlacademy-link {
justify-self: end;
}
